# Sistem Operasi
.DS_Store
**/.DS_Store
calfit-api/.DS_Store
calfit-api/**/.DS_Store

# Python & Virtual Environment
__pycache__/
*.pyc
venv/
.venv/
.env

# Jupyter Notebook (Sering menghasilkan folder tersembunyi)
.ipynb_checkpoints/